.center-flex{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header{
  background-color: #495057;
  color: white;
}
body{
  background-color: rgb(209, 209, 209);
}
#body{
  min-height: 70vh;
  max-width: 40vw;
  margin-left: 30vw;
}
#body h2{
  border-left:  gray solid 0.3em;
  padding-left: 0.5em;
  border-bottom: dotted gray 1px;
}
#body #exsample{
  display: flex;
  justify-content: space-around;
}
#body #exsample figure{
  max-width: 13vw;
}
#body #exsample figure img{
  max-width: 10vw;
}
#body #exsample figcaption{
  font-size: large;
  text-align: center;
  padding-bottom: 5px;
}


.upload-label {
  display: inline-block;
  cursor: pointer;
  margin: 1em 0;
  margin-left: 4em;
  padding: 0.8em 1em;
  line-height: 1.4;
  background: #495057;
  color: #FFF;
  font-weight: bold;
  border-radius: 2.5em;
  transition: 0.2s;
}
.upload-label:hover {
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.4); /* 影を表示 */
}
.upload-label input {
  display: none;
}
#image_input img{
  max-width: 30vw;
  max-height: 15vw;
}


#footer{
  background-color: #495057;
  color: white;
  padding: 10px;
}
#footer_pro{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#footer_pro > div{
  padding: 30px;
}
#footer_pro h2{
  font-weight: bold;
}
#footer_pro a{
  color: white;
}
#footer_pro li{
  line-height: 200%;
}
.footer-current{
  text-decoration: none;
  font-weight: bold;
}

.non-visi{
  display: none;
}


@media screen and (max-width: 1000px) { /*ウィンドウ幅が最大1000pxまでの場合に適用*/
  .mobile-center-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #body{
    max-width: 95vw;
    margin-left: 2.5vw;
  }
  #footer_pro{
    flex-direction: column;
  }
  #body #exsample figure{
    max-width: 45vw;
  }
  #body #exsample figure img{
    max-width: 30vw;
  }
  #image_input img{
    max-width: 80vw;
    max-height: 40vw;
  }
  .upload-label {
    margin:0px;
  }

  #footer_pro > div{
    padding: 5px;
  }
  #footer_pro li{
    line-height: 250%;
  }
}